html {
  font-family: "Microsoft YaHei UI", "Microsoft YaHei", Ubuntu, Consolas, Verdana, Tahoma, Arial, sans-serif;
  font-size: 14px;
}

body {
  background-color: #f6f6fa;
  color: #333;
}

.fd-categories-icon {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216%22%20height=%2216%22%20fill=%22rgba%28255,255,255,0.55%29%22%20viewBox=%220%200%2016%2016%22%3E%3Cpath%20d=%22M1%202.5A1.5%201.5%200%200%201%202.5%201h3A1.5%201.5%200%200%201%207%202.5v3A1.5%201.5%200%200%201%205.5%207h-3A1.5%201.5%200%200%201%201%205.5v-3zM2.5%202a.5.5%200%200%200-.5.5v3a.5.5%200%200%200%20.5.5h3a.5.5%200%200%200%20.5-.5v-3a.5.5%200%200%200-.5-.5h-3zm6.5.5A1.5%201.5%200%200%201%2010.5%201h3A1.5%201.5%200%200%201%2015%202.5v3A1.5%201.5%200%200%201%2013.5%207h-3A1.5%201.5%200%200%201%209%205.5v-3zm1.5-.5a.5.5%200%200%200-.5.5v3a.5.5%200%200%200%20.5.5h3a.5.5%200%200%200%20.5-.5v-3a.5.5%200%200%200-.5-.5h-3zM1%2010.5A1.5%201.5%200%200%201%202.5%209h3A1.5%201.5%200%200%201%207%2010.5v3A1.5%201.5%200%200%201%205.5%2015h-3A1.5%201.5%200%200%201%201%2013.5v-3zm1.5-.5a.5.5%200%200%200-.5.5v3a.5.5%200%200%200%20.5.5h3a.5.5%200%200%200%20.5-.5v-3a.5.5%200%200%200-.5-.5h-3zm6.5.5A1.5%201.5%200%200%201%2010.5%209h3a1.5%201.5%200%200%201%201.5%201.5v3a1.5%201.5%200%200%201-1.5%201.5h-3A1.5%201.5%200%200%201%209%2013.5v-3zm1.5-.5a.5.5%200%200%200-.5.5v3a.5.5%200%200%200%20.5.5h3a.5.5%200%200%200%20.5-.5v-3a.5.5%200%200%200-.5-.5h-3z%22/%3E%3C/svg%3E");
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.fd-navbar {
  background-color: #6363af;
}

.fd-navbar-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #336;
  padding: 0 0.5rem;
}

.fd-navbar-categories > * {
  padding: 0.2rem 1rem;
  margin: 0.2rem 0.2rem;
  /* border: #f6f6fa 1px solid; */
  border-radius: 0.3rem;
  background-color: #b4b4da;
}

.fd-navbar-categories a {
  color: #336;
}

.fd-navbar-categories-title {
  padding: 0 0.8rem;
  color: #f6f6fa;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.fd-nav-search {
  width: auto;
}

.fd-nav-search input {
  color: #666699;
  background-color: #fff;
}

.fd-nav-search button {
  color: #336;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-left: none;
}

.fd-nav-item {
  /* list-style-type: square; */
}

.fd-nav-ul {
  /* background-color: #333; */
}

.fd-footer {
  /* background-color: #fff; */
  /* color: #FFF; */
  padding: 2.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 -0.08rem 0.25rem rgba(0, 0, 0, 0.08);
          box-shadow: 0 -0.08rem 0.25rem rgba(0, 0, 0, 0.08);
}

.fd-footer ul {
  margin-bottom: 0;
}

.fd-banner {
  background-color: #fff;
  color: #666699;
  overflow: hidden;
}

.fd-banner ul {
  height: 2.5rem;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fd-banner ul li {
  margin-right: 2.5rem;
  white-space: nowrap;
}

.fd-banner ul li a {
  color: #666699;
}

.fd-banner ul li a:hover {
  color: #52527a;
}

.fd-banner-animation {
  -webkit-animation: 20s banner linear infinite normal;
          animation: 20s banner linear infinite normal;
  display: inline-block;
  /* background-color: #b4b4da; */
}

.fd-banner-animation:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes banner {
  from {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes banner {
  from {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@media (min-width: 992px) {
  .fd-left {
    width: 228px;
  }
}

.fd-categories-box {
  background-color: #fff;
}

.fd-categories-box .fd-categories-item > a {
  padding-right: 0.5rem;
  white-space: nowrap;
}

.fd-categories-box .fd-categories-item > a:last-child {
  padding-right: 0;
}

@media (min-width: 1200px) {
  .fd-right {
    width: 300px;
  }
}

.fd-box, .fd-box-recommended, .fd-box-newest, .fd-box-hotest {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fd-box .fd-box-title, .fd-box-recommended .fd-box-title, .fd-box-newest .fd-box-title, .fd-box-hotest .fd-box-title {
  border-bottom: 1px solid #efefef;
  padding-bottom: 0.5rem;
}

.fd-box .fd-article-title, .fd-box-recommended .fd-article-title, .fd-box-newest .fd-article-title, .fd-box-hotest .fd-article-title {
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
}

.fd-box .fd-article-text, .fd-box-recommended .fd-article-text, .fd-box-newest .fd-article-text, .fd-box-hotest .fd-article-text {
  color: #666;
}

.fd-box .fd-article-text:last-child, .fd-box-recommended .fd-article-text:last-child, .fd-box-newest .fd-article-text:last-child, .fd-box-hotest .fd-article-text:last-child {
  margin-bottom: 0;
}

.fd-box .fd-article-list, .fd-box-recommended .fd-article-list, .fd-box-newest .fd-article-list, .fd-box-hotest .fd-article-list {
  margin-top: 1rem;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

.fd-box .fd-article-list li, .fd-box-recommended .fd-article-list li, .fd-box-newest .fd-article-list li, .fd-box-hotest .fd-article-list li {
  margin-top: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.fd-box .fd-article-list li .title, .fd-box-recommended .fd-article-list li .title, .fd-box-newest .fd-article-list li .title, .fd-box-hotest .fd-article-list li .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fd-box .fd-article-list li .title a, .fd-box-recommended .fd-article-list li .title a, .fd-box-newest .fd-article-list li .title a, .fd-box-hotest .fd-article-list li .title a {
  color: #333;
}

.fd-box .fd-article-list li .title a:hover, .fd-box-recommended .fd-article-list li .title a:hover, .fd-box-newest .fd-article-list li .title a:hover, .fd-box-hotest .fd-article-list li .title a:hover {
  color: #285f8f;
}

.fd-box .fd-article-list li .date, .fd-box-recommended .fd-article-list li .date, .fd-box-newest .fd-article-list li .date, .fd-box-hotest .fd-article-list li .date {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #999;
  font-size: 0.85em;
}

.fd-box .fd-article-list li:before, .fd-box-recommended .fd-article-list li:before, .fd-box-newest .fd-article-list li:before, .fd-box-hotest .fd-article-list li:before {
  position: absolute;
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #ccc;
  border-radius: 50%;
  left: 0;
}

.fd-box-recommended .fd-article-list li:before {
  background-color: #89c289;
}

.fd-box-newest .fd-article-list li:before {
  background-color: #f4c37d;
}

.fd-box-hotest .fd-article-list li:before {
  background-color: #e27c79;
}

a.fd-link {
  font-weight: bold;
}

a.fd-link:hover {
  font-weight: bold;
}
/*# sourceMappingURL=blog_main.css.map */