.blog-navbar {
    background-color: #333;
    color: white;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}
.blog-navbar .navbar-nav > li > a, .blog-navbar .navbar-header .navbar-brand {
    color: white;
    
}
.blog-navbar .navbar-nav > .active > a {
    background-color: #555;
    color: #ffc;
}

@media (min-width: 768px) {
  .thumbnail > .caption.mycaption {
    height: 176px;
    overflow: auto;
  }
}
@media (min-width: 992px) {
  .thumbnail > .caption.mycaption {
    height: 210px;
    overflow: auto;
  }
}
@media (min-width: 1200px) {
  .thumbnail > .caption.mycaption {
    height: 184px;
    overflow: auto;
  }
}
